// Font Family 
$font-body: 'Plus Jakarta Sans', sans-serif;

// Fluid Fonts
$min_width: 375px;
$max_width: 1368px;
$min_font: 18px;
$max_font: 18px;

@mixin body-font {
    font-weight: 400;
    font-family: $font-body;
    font-weight: normal;
    line-height: 1.44;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    @include media-breakpoint-down(lg) {

    }
}

// Font-size as h1-h6 headings

//Display xxl
@mixin font-display {
    @include fluid-type($min_width, $max_width, 40px, 72px);
    font-weight: normal; 
    margin-bottom: 24px;
    line-height: 1.194;
    letter-spacing: -0.02em;
    @include media-breakpoint-down(lg) {
        line-height: 1.15;
    }
}

//h1
@mixin font-xl {
    @include fluid-type($min_width, $max_width, 32px, 54px);
    font-weight: normal;
    line-height: 1.148;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    @include media-breakpoint-down(lg) {
        line-height: 1.312;
    }
}

//h2
@mixin font-lg {
    @include fluid-type($min_width, $max_width, 28px, 46px);
    font-weight: normal;
    letter-spacing: -0.02em;
    line-height: 1.195;
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
        line-height: 1.357;
    }
}

//h3
@mixin font-md {
    @include fluid-type($min_width, $max_width, 24px, 38px);
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.210;
    margin-bottom: 24px;
    @include media-breakpoint-down(lg) {
        line-height: 1.25;
        letter-spacing: normal
    }
}

//h4
@mixin font-sm {
    @include fluid-type($min_width, $max_width, 20px, 30px);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: normal;
    margin-bottom: 24px;
    @include media-breakpoint-down(lg) {
        line-height: 1.5;
    }
}

//h5
@mixin font-xs {
    @include fluid-type($min_width, $max_width, 18px, 24px);
    font-weight: 600; 
    line-height: 1.291;
    letter-spacing: normal;
    margin-bottom: 16px;
    @include media-breakpoint-down(lg) {
        line-height: 1.55;
    }
}

//h6
@mixin font-xxs {
    @include fluid-type($min_width, $max_width, 14px, 14px);
    font-weight: 700;
    line-height: 1.214;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@mixin font-text-20 {
    font-size: 20px;
    line-height: 29px;
    font-weight: normal;
}
@mixin font-text-18 {
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
}
@mixin font-text-16 {
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
}
@mixin font-text-14 {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}
@mixin font-text-12 {
    font-size: 12px;
    line-height: 17px;
    font-weight: normal;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
@mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    -o-opacity: $opacity;
    -m-opacity: $opacity;
    opacity: $opacity;
}
@mixin transition($seconds) {
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds ease;
}
@mixin trans-anim-none {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
@mixin space-none {
    margin: 0;
    padding: 0;
}
@mixin app-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
@mixin point-none {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -o-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}

// Background properties
@mixin bg-cmn {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin bg-parallax {
    background-attachment: fixed;
    @include bg-cmn;
}
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
    }

    &:-ms-input-placeholder {
        color: $color;
    }
}
@mixin transform-origin($val) {
    -webkit-transform-origin: $val;
    -moz-transform-origin: $val;
    -ms-transform-origin: $val;
    transform-origin: $val;
}
@mixin transform ($origin) {
    -moz-transform: $origin;
    -o-transform: $origin;
    -ms-transform: $origin;
    -webkit-transform: $origin;
    transform: $origin;
}
@mixin transform-none {
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
}
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}  
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}  
	@keyframes #{$animation-name} {
		@content;
	}
}